gitdb==4.0.11
GitPython==3.1.43
kaggle==1.6.17
matplotlib==3.9.2
numpy==2.1.0
pandas==2.2.2
pickle-mixin==1.0.2
PyMuPDF==1.24.12
PyPDF2==3.0.1
PyQt5==5.15.10
scikit-learn==1.5.1
scipy==1.14.1
seaborn==0.13.2
streamlit==1.38.0
streamlit-option-menu==0.3.13
wheel==0.43.0
